[submodule "third_party/OpENer"]
	path = third_party/OpENer
	url = https://github.com/EIPStackGroup/OpENer.git
[submodule "third_party/EIPScanner"]
	path = third_party/EIPScanner
	url = https://github.com/nimbuscontrols/EIPScanner.git
